<footer class="m-4">
  <ul class="flex gap-6 justify-center list-none">
    <li>
      <a class="text-black no-underline dark:text-slate-100" href="https://www.flickr.com/photos/{{ metadata.flickr_user_id }}/">
        <i class="fa-brands fa-flickr"></i>
        flickr
      </a>
    </li>
    <li>
      <a class="text-black no-underline dark:text-slate-100" href="https://www.facebook.com/{{ metadata.facebook_user_id }}">
        <i class="fa-brands fa-facebook-square"></i>
        facebook
      </a>
    </li>
    <li>
      <a class="text-black no-underline dark:text-slate-100" href="mailto:{{ metadata.email }}">
        <i class="fa fa-square-envelope"></i> {{ metadata.email }}
      </a>
    </li>
  </ul>
</footer>
